.products-display {
    padding: 10px 10% 60px 10%;

    position: relative;
}

.products-display h2 {
    font-size: 20px;
    font-weight: 900;

    position: relative;
}

.products-display h2:after {
    content: " ";
    display: inline-block;

    width: 65px;
    height: 4px;

    background-color: #C0C0C0;

    position: absolute;
    top: 100%;
    left: 0;
}

.products-display .item-list {
    list-style: none;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.products-display .item {
    flex: 1;

    max-width: 216px;
}

.products-display .item-image {
    position: relative;
}

.products-display .item-image .off {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 81px;
    height: 72px;

    color: #ffffff;
    font-size: 16px;
    font-weight: 900;

    text-align: right;

    box-sizing: border-box;

    padding: 10px 10px 0 0;
}

.products-display .item-description {
    height: 140px;

    padding: 10px 10px 16px 10px;

    text-align: center;

    transition: background-color .2s;
}

.products-display .item-description p {
    margin: 0;
}

.products-display .item-name {
    font-size: 12px;
    font-weight: 600;
    color:#7A7A7A;

    text-transform: uppercase;
}

.products-display .rating {}

.products-display .rating svg {
    color: #C0C0C0;
}

.products-display .rating .full {
    color: #F8475F;
}

.products-display .item-price {
    font-size: 18px;
    font-weight: 700;
    color:#000000;

    margin-top: 15px !important;
}

.products-display .item-obs {
    font-size: 11px;
    font-weight: 400;
    color:#7A7A7A;
}

.products-display .buy-button {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;

    display: none;
    transition: display .2s;

    text-transform: uppercase;

    border: none;
    border-radius: 5px;
    background-color: #000000;
    
    padding: 10px 40px;
    margin-top: 10px;

    cursor: pointer;
}


.products-display .item:hover .item-description {
    background-color: #E6E8EA;
}

.products-display .item:hover .buy-button {
    display: inline;
}

.products-display .left-control {
    position: absolute;
    top: 50%;
    left: 7%;

    font-size: 22px;

    cursor: pointer;
}

.products-display .right-control {
    position: absolute;
    top: 50%;
    right: 7%;

    font-size: 22px;

    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .products-display {
        padding: 0 5%;
    }

    .products-display .item-list {
        overflow: hidden;
    }

    .products-display .left-control,
    .products-display .right-control {
        display: none;
    }

    .products-display .buy-button {
        width: 90%;

        display: inline;

        font-size: 15px;

        padding: 14px 0;
    }
    
    .products-navigation {
        min-width: 100%;
        max-width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        list-style: none;

        position: unset;

        text-align: center;

        margin: 30px 0 50px 0;
        padding: 0;
    }

    .products-navigation li a {
        width: 10px;
        height: 10px;

        display: block;

        border-radius: 50%;
        background-color: #BDBDBD;
    }

    .products-navigation li:not(:last-child) {
        margin-right: 18px;
    }

    .products-navigation li .active {
        background-color: #F8475F;
    }
}